@model PagedList.IPagedList<Plan360.UI.ViewModels.Product.ProductCategoryViewModel>


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = @Plan360.UI.Resources.Plan360Strings.PRODUCTCATEGORY_List;

}

<h2> @Plan360.UI.Resources.Plan360Strings.PRODUCTCATEGORY_List </h2>

<div class="dvSearch">

    @using (Html.BeginForm("Index", "ProductCategory", FormMethod.Get, new { @class = "form-inline" }))
    {
        <p>


            <div class="input-group">
                <input name="searchString" type="text" class="form-control" placeholder="@Plan360.UI.Resources.Plan360Strings.SEARCH_Placeholder" value="@ViewBag.CurrentFilter">

                <span class="input-group-btn">


                    <input type="submit" class="btn btn-default" value="@Plan360.UI.Resources.Plan360Strings.SEARCH_Go" />


                </span>
            </div><!-- /input-group -->

            <input type="hidden" name="pageSize" value="@ViewBag.pageSize" />

        </p>
    }


</div>


<p class="text-right">
    <a href='@Url.Action("Create")' class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  @Plan360.UI.Resources.Plan360Strings.ACTION_Create
    </a>
</p>

<table class="table table-striped table-hover table-bordered ">
    <tr>
        <th>

            @Html.ActionLink("Name",
            "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.pageSize })

        </th>
        <th class="buttonscol"></th>
    </tr>

    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="2">
                @Plan360.UI.Resources.Plan360Strings.NO_DATA
            </td>
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="buttonscol">




                <a href='@Url.Action("Edit", new {id = item.IdCategory})' class="btn btn-sm btn-default "
                   title="@Plan360.UI.Resources.Plan360Strings.ACTION_Edit">

                    <span class="glyphicon glyphicon-edit"></span>

                </a>


            </td>
        </tr>
    }

</table>



@Html.Partial("_PaginatorPartial", Model)





